<ion-header>
  <ion-navbar>
    <ion-label class="title">
      {{item.title}}
    </ion-label>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center *ngIf="!loaded">
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="loaded" disabled="true" (swipe)="pageSwipe($event)">

    <ion-row>
      <ion-col no-padding no-margin>
        <ion-label class="note">{{item.from}}</ion-label>
      </ion-col>
      <ion-col no-padding no-margin text-right>
        <ion-label class="note float-right">{{item.date}}</ion-label>
      </ion-col>
    </ion-row>

    <div *ngFor="let p of item.contentList">
      <p *ngIf="p.type === 'p'">
        {{p.content}}
      </p>

      <p *ngIf="p.type !== 'p'" class="text-center item">
        <img width="600" [src]="p.content">
      </p>
    </div>
  </div>

  <div *ngIf="item.siblingNum > 0 && item.siblings" text-center>
    <button ion-button *ngFor="let s of item.siblings" (click)="loadSiblingContent(s.siblingNum)" color="{{s.siblingNum === siblingNum? 'light':''}}">
      {{s.siblingNum}}
    </button>
  </div>

</ion-content>
